canvas {
    margin: 0 1em;
    border: 1px solid #dddddd;
}
p {
    text-align: center;
   line-height: 0px;
   
}
#butt{
  margin-left: 1em;
}

#dropform{
  margin-left: 1em;
}

#pF{
}

#div1{
}

/* #container{
  margin:1em;
} */