canvas {
    margin: 0 1em;
    border: 1px solid #dddddd;
}

body{
    
    font-family: system-ui, sans-serif;
}

#butt1{
    
    margin-left: 16px;
}

#xframe{
    margin-left: 16px;
    margin-bottom: 5px;

}
#yframe{
    margin-left: 16px;

}
#contain1{
    margin-left: 16px;
    margin-bottom: 10px;
}
#frac1{
    margin-left: 55.5%;
}

#con2{
    margin-top: 5px;
}



